Include /etc/ssh/sshd_config.d/*.conf

PermitRootLogin no
AuthorizedKeysFile .ssh/authorized_keys
PasswordAuthentication no
ChallengeResponseAuthentication no
UsePAM no
X11Forwarding yes

Subsystem   sftp    /usr/libexec/openssh/sftp-server